.App {
  text-align: center;
  margin: auto;
  padding: 5% 30%;
}

.newTodoInput {
  width: 80%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid grey;
}

ul {
  list-style: none;
}

.btn {
  width: 50%;
  border: 0;
  background-color: lightskyblue;
  padding: 7px;
  border-radius: 5px;
  margin-top: 10px;
}